body {
	font-family: sans-serif;
	background-color: #513F2E;
	color: white;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: gray;
}

.header {
	float: left;
	min-width: 80%;
	border: 2px dashed black;
	padding: 15px;
}

#logoBox {
	float: left;
	margin-right: 10px;
}

#navBar {
	clear: right;
}

#crumbTrail {
	margin-top: 5px;
}

#navBar #button {
	display: inline-block;
	height: 25px;
	width: 150px;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
	background-color: #EAD165;
}

.content {
	margin: 20px 20px 20px 20px;
	float: left;
	border: 2px dashed black;
	padding: 25px;
}

.content div {
	padding: 5px;
}

#example {
	background-color: #EAD165;
	color: #93194A;
	margin-bottom: 5px;
	font-style: italic;
}

#input {
	background-color: #ddd;
}

.sidebar {
	float: right;
	width: 200px;
	height: 500px;
	border: 2px dashed black;
	padding: 5px;
}
