<meta charset="UTF-8" />
<script src="/lang-website/_global/jquery.js"></script> 
<link href="/lang-website/_global/bootstrap.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="/lang-website/_global/style.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/a9a060e499.css">