/* Copied from variables.less:
@w-scarlet:				#D84C31; // red
@w-yellow:				#F7C53F; // yellow
@w-chalk:				#FDF5DC; // white
@w-latte:				#D1BEA3; // tan
@w-lava:				#43362B; // brown
@w-green: 				#249E4D; // green
@w-desat-green:			#3E7D64; // desaturated green
@w-blue:				#0E85B2; // blue
@w-lime:				#00FF98; // bright green
*/

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #D1BEA3;
	font-family: sans-serif;
	color: #43362B;
}

a {
	color: #249E4D;
}

#content
{
	margin: 10px 10px 10px 10px;
	padding: 30px 30px 30px 30px;
	
}

.dropdown-menu a {
	font-variant: small-caps;
}


/* Reading Section */
.reading
{
	background-color: #F7C53F;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

.questionHolder
{
	background-color: #0E85B2;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	color: #FDF5DC;
}

.text-jp {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* Listening Section */

.audio-control {
	border-radius: 5%;
	border: none;
	padding: 5px;
	width: 25%;
	margin: 5px;
	color: black;
}